#table{
    margin-top: 70px;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #333;
    background-color: #fff;
}